body {
    font-family: Arial, sans-serif;
    background-color: #FFFDD0;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #FFFDD0;
    width: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.sidebar .logo {
    font-size: 36px;
    color: #4DCADB;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 0.5;
    width: 100%;
}

.sidebar .team {
    text-align: left;
    display: block;
    margin-left: 20px;
}

.sidebar .todo {
    text-align: right;
    display: block;
    margin-right: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.sidebar nav ul li button img {
    width: 50px;
    height: 50px;
}

.help {
    margin-bottom: 20px;
}

.help button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.help button img {
    width: 50px;
    height: 50px;
}

.main-content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border: 1px solid #ccc;
    position: relative;
}

h1 {
    font-size: 24px;
    color: #5c3d2e;
    margin-bottom: 20px;
    text-align: left;
}

.profile-form {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info .name {
    font-size: 18px;
    font-weight: bold;
}

.profile-info .position {
    font-size: 14px;
    color: #777;
}

.form-block {
    margin-bottom: 20px;
}

.label-container {
    display: flex;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5c3d2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #4a3124;
}

.note {
    font-size: 12px;
    color: #777;
}
